* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, serif;
    background-color: #020303
}

.header {
    padding: 30px 0;
}

.header .container,
.main .container,
.purchase .container,
.details .container,
.footer .container {
    font-size: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    font-size: 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo:nth-child(2) {
    margin-left: 11px
}

.menu {
    margin-left: 282px;
    display: inline-block;
    vertical-align: middle;

}

.menu ul li {
    display: inline-block;
    margin: 0 30px;
    vertical-align: middle;
}

.menu ul li:first-child {
    margin-left: 0px;
}

.menu ul li a {
    font-size: 16px;
    color: rgb(253, 239, 213);
    line-height: 1.2;
    text-decoration: none;
}

.menu ul li a:hover {
    color: rgb(255, 175, 24);
    border-bottom: 2px solid rgb(255, 175, 24);
}

.main {
    padding: 133px 0 80px 0;
}

.main-info {
    max-width: 556px;
    display: inline-block;
    vertical-align: middle;
}

.main-info h1 {
    font-size: 44px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    margin-bottom: 74px;
}

.main-info h1::after {
    content: " Super Sushi";
    color: rgb(255, 175, 24)
}

.main-description img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 99px;
}

.main-description img:first-child {
    margin-left: 0;
}

.main-description-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-left: 10px;
}

.main-actions {
    margin-top: 90px;
}

.button {
    font-size: 16px;
    text-align: center;
    color: rgb(2, 3, 3);
    font-weight: bold;
    line-height: 3.438;
    background-color: #ffaf18;
    text-decoration: none;
    border-radius: 30px;
}

.button.button-main {
    width: 224px;
    padding: 22px 55px;
}

.button.button-main:hover {
    box-shadow: 0px 10px 10px 1px rgb(255 175 24 / 26%);
}

.main-image {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.main-image img {
    padding-top: 40px;
}

.purchase {
    padding: 120px 0;
}

.purchase h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.571;
    text-align: center;
    margin-bottom: 60px;
}

.purchase-items {
    margin-left: -12px;
    margin-right: -12px;
}

.purchase-item:first-child,
.purchase-item:last-child {
    border: 5px solid #ed9b00;
}

.purchase-item {
    background-color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    width: 282px;
    height: 354px;
    text-align: center;
    margin: 12px;
    border: 5px solid transparent;
}

.purchase-item:hover {
    box-shadow: 0px 0px 20px 10px rgb(254 254 254 / 26%);
}


.purchase-item img {
    margin-bottom: 25px;
}

.purchase-item-title {
    font-size: 18px;
    color: rgb(24, 26, 26);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
}

.purchase-item-text {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    text-align: center;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 21px;
}

.purchase-item-action {
    margin-bottom: 15px;
}

.button.purchase-item-button {
    width: 242;
    padding: 17px 82px;
}

.button.purchase-item-button:hover {
    box-shadow: 0px 10px 10px 1px rgb(255 175 24 / 26%);
}

.details {
    padding: 120px 0 67px 0;
}


.details-info {
    max-width: 384px;
    display: inline-block;
    vertical-align: middle;
}

.details-info h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.286;
    text-align: left;
    margin-bottom: 60px;
}

.details-info p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 100px;
}

.details-description h3 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 40px;
}

.details-action-buttons {
    margin-left: -40px;
}

.details-action-button {
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 40px;
}

.details-action-button:active {
    background: #ffaf18;
}

.details-action-button:hover {
    box-shadow: 0px 0px 4px 5px rgb(254 254 254 / 26%);
}

.details-action-button:visited {
    background: #900e0e;
}

.details-action-button img {
    display: block;
    margin: auto;
    padding-top: 12px;
}

.details-img {
    display: inline-block;
    vertical-align: middle;
    margin: 79px 0 0 48px;
}

.footer {
    background-color: #000000;
    padding: 30px 0;
}

.footer-logo {
    display: inline-block;
    vertical-align: middle;
}

.footer-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: rgb(44, 44, 44);
    line-height: 1.2;
    text-align: left;
    margin-left: 390px;
}